.cartContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form,
.label {
  display: flex;
  flex-direction: column;
}

.form {
  margin-right: 30px;
}

.label {
  margin-bottom: 15px;
}

.input {
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  outline: none;
  resize: none;
}

.goods {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* flex-basis: calc((100% - 120px) / 2); */
  gap: 15px;
}

.good {
  width: 180px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 8px;
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
}

.textContainer {
  margin-bottom: 10px;
}

.goodInput {
  height: 30px;
}

.total {
  text-align: center;
  font-size: 28px;
}

.cartBtn {
  padding: 5px 10px;
}

.warn {
  font-size: 28px;
  text-align: center;
}
